body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-us-div{
    border: 1px solid grey;
    border-radius: 6px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.admin{
    display: none;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}